@import 'colors';

header {
  background: $colorPurple;
  position: fixed;
  top: 0; left: 0; right: 0;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 450px;
  }
}
