@import 'colors';

.settings {
  align-items: center;
  display: flex;

  button {
    background: transparent;
    padding: 3px;

    &.checked {
      border-bottom: 2px solid $colorYellow;
    }
  }

  .mode {

    .title {
      color: $colorYellow;
      font-size: 13px;
      margin: 0;

      @media (min-width: 330px) {
        font-size: 14px;
      }

      @media (min-width: 360px) {
        font-size: 16px;
      }

      @media (min-width: 500px) {
        font-size: 23px;
      }
    }

    button {
      font-size: 11px;

      @media (min-width: 330px) {
        font-size: 12px;
      }

      @media (min-width: 360px) {
        font-size: 14px;
      }

      @media (min-width: 500px) {
        font-size: 16px;
      }
    }
  }

  .notifications {
    margin-left: 5px;

    img {
      width: 20px;

      @media (min-width: 330px) {
        width: 21px;
      }

      @media (min-width: 360px) {
        width: 24px;
      }
    }
  }
}
