@import 'colors';

.settings {
  align-items: flex-end;
  display: flex;

  button {
    background: transparent;
    padding: 3px;

    &.checked {
      border-bottom: 2px solid $colorYellow;
    }
  }

  .instr {
    background: $colorYellow;
    border: 1px solid;
    border-radius: 3px;
    font-size: 12px;
    line-height: .9;
    margin: 0;
    max-width: 125px;
    padding: 5px 3px 3px;
    position: absolute;
    top: 24px;

    @media (min-width: 330px) {
      top: 25px;
    }

    @media (min-width: 360px) {
      font-size: 13px;
      top: 26px;
    }

    @media (min-width: 500px) {
      font-size: 14px;
      top: 31px;
    }
  }

  .mode {

    .title {
      color: $colorYellow;
      font-size: 13px;
      margin: 0;

      @media (min-width: 330px) {
        font-size: 14px;
      }

      @media (min-width: 360px) {
        font-size: 16px;
      }

      @media (min-width: 500px) {
        font-size: 23px;
      }
    }

    button {
      font-size: 11px;

      @media (min-width: 330px) {
        font-size: 12px;
      }

      @media (min-width: 360px) {
        font-size: 14px;
      }

      @media (min-width: 500px) {
        font-size: 16px;
      }
    }
  }

  .notifications {
    margin-left: 5px;

    button {
      font-size: 0;
      padding: 0 3px 3px;

      &.info {
        display: flex;
        margin: 0 auto;
        padding: 0 3px;

        img {
          width: 15px;

          @media (min-width: 330px) {
            width: 16px;
          }

          @media (min-width: 360px) {
            width: 17px;
          }
        }
      }

      img {
        width: 20px;

        @media (min-width: 330px) {
          width: 21px;
        }

        @media (min-width: 360px) {
          width: 24px;
        }
      }
    }
  }
}
