@import 'setEditor';
@import 'header';
@import 'timer';
@import 'settings';
@import 'sets';
@import 'colors';

body {
  background: $colorBlue;
  font-family: 'PT Mono', sans-serif;
  margin: 0;
  padding-top: 67px;
  text-align: center;

  @media (min-width: 330px){
    padding-top: 70px;
  }

  @media (min-width: 360px){
    padding-top: 74px;
  }

  @media (min-width: 500px){
    padding-top: 79px;
  }
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.hidden {
  display: none;
}

.blur {

  &.on {
    background-color: #000000;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 1;
  }
}

.addSetButton {
  font-size: 0;
  margin: 0;
  position: fixed;
  right: 15px; bottom: 15px;

  button {
    background: transparent;
    font-size: 0;
    padding: 0;

    img {
      background: $colorPurple;
      border-radius: 50px;
      width: 50px;
    }
  }
}
